<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Biztech_Ausposteparcel::base" title="Australia Post Parcel Send" sortOrder="10">
                            <resource id="Biztech_Ausposteparcel::consignment" title="Consignment Management" sortOrder="3" />
                            <resource id="Biztech_Ausposteparcel::manifest" title="Manifests Management" sortOrder="5" />
                            <resource id="Biztech_Ausposteparcel::articletype" title="Article Types" sortOrder="15" />
                            <resource id="Biztech_Ausposteparcel::nonauspost" title="Assign Shipping Types" sortOrder="20" />
                        </resource>
                        <resource id="Magento_Config::config">
                            <resource id="Biztech_Ausposteparcel::biztech_ausposteparcel" title="Appjetty AustraliaPost Parcel Send Module"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>