<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_delete_before">
        <observer name="webforms_customer_delete_before"
                  instance="MageMe\WebForms\Observer\CustomerDeleteBeforeObserver"/>
    </event>
</config>
