<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Shipping\Model\Shipping">
        <plugin name="Meetanshi_ShippingRestrictions::Shipping" type="Meetanshi\ShippingRestrictions\Plugin\Shipping\Model\Shipping" />
    </type>
    <type name="Magento\Quote\Model\Quote\Config">
        <plugin name="Meetanshi_ShippingRestrictions::Attributes" type="Meetanshi\ShippingRestrictions\Plugin\Quote\Model\Quote\Attributes" />
    </type>
</config>
