<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="MageMe\WebForms\Ui\Component\Form\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="zohoSettings" xsi:type="array">
                    <item name="class" xsi:type="string">MageMe\WebFormsZoho\Ui\Component\Form\Form\Modifier\ZohoIntegrationSettings</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
