<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="webforms">
            <tab>mageme</tab>
            <resource>MageMe_WebForms::settings</resource>
            <group id="zoho" translate="label comment" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Zoho Integration Add-on</label>
                <comment>General settings that are required to connect Zoho and Magento.</comment>
                <field id="domain" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Domain</label>
                    <source_model>MageMe\WebFormsZoho\Config\Options\ZohoDomain</source_model>
                </field>
                <field id="client_id" translate="label comment" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Client ID</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="client_secret" translate="label comment" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Client Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="code" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Code</label>
                    <comment><![CDATA[<u>CRM Scopes</u>: <i>ZohoCRM.modules.ALL, ZohoCRM.settings.ALL, ZohoCRM.Files.CREATE, ZohoCRM.users.READ</i><br><u>Desk Scopes</u>: <i>Desk.basic.READ, Desk.settings.READ, Desk.tickets.CREATE, Desk.tickets.UPDATE, Desk.contacts.READ, Desk.contacts.CREATE</i>]]></comment>
                </field>
                <field id="refresh_token" translate="label comment" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Token</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <frontend_model>MageMe\WebFormsZoho\Block\Adminhtml\System\RefreshToken</frontend_model>
                </field>
                <field id="crm" translate="label" type="label" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Zoho CRM</label>
                    <frontend_model>MageMe\WebFormsZoho\Block\Adminhtml\System\CrmAvailability</frontend_model>
                </field>
                <field id="desk" translate="label" type="label" sortOrder="110" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Zoho Desk</label>
                    <frontend_model>MageMe\WebFormsZoho\Block\Adminhtml\System\DeskAvailability</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
