<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="webforms_form_import">
        <observer name="mageme_zoho_webforms_form_import"
                  instance="MageMe\WebFormsZoho\Observer\WebformsFormImportObserver"/>
    </event>
    <event name="webforms_form_duplicate">
        <observer name="mageme_zoho_webforms_form_duplicate"
                  instance="MageMe\WebFormsZoho\Observer\WebformsFormImportObserver"/>
    </event>
</config>
