<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_ProductAttachment
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bss_ProductAttachment::main" title="Product Attachment by Bss Commerce" module="Bss_ProductAttachment" sortOrder="999" parent="Magento_Catalog::catalog" resource="Bss_ProductAttachment::main" />
        <add id="Bss_ProductAttachment::attachment" title="Product Attachments Management" module="Bss_ProductAttachment" sortOrder="1" parent="Bss_ProductAttachment::main" action="bss_productattachment/file/index" resource="Bss_ProductAttachment::attachment" />
    </menu>
</config>