<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_ProductAttachment
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2022 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="bss" translate="label" sortOrder="300">
            <label>Bss Commerce</label>
		</tab>

		<section id="attachment" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Product Attachment</label>
            <tab>bss</tab>
            <resource>Bss_ProductAttachment::config_attachment</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Version 1.1.3</comment>
                </field>
                <field id="show_product_tab" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show on Product Tab</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="tab_title" translate="label" type="text" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tab Title</label>
                    <validate>required-entry</validate>
                </field>

                <field id="show_block" translate="label" type="select" sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display on A Block</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="block_title" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Title</label>
                    <validate>required-entry</validate>
                </field>

                <field id="max_size" translate="label" type="text" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Upload File Size (MB)</label>
                    <validate>required-entry validate-greater-than-zero</validate>
                    <comment>Maximum allowed size for upload files depends on your server.</comment>
                </field>

                <field id="show_file_size" translate="label" type="select" sortOrder="27" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable File Size</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="show_download_number" translate="label" type="select" sortOrder="28" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show number of downloaded files</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
		</section>
	</system>
</config>
