<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fusedship_config_section>
            <general_config_group>
                <enable_plugin>1</enable_plugin>
            </general_config_group>

            <quoting_options_group>
                <enable_live_rates>1</enable_live_rates>
                <enable_address_lookup>1</enable_address_lookup>
                <lookup_field_title>Type suburb name or postcode</lookup_field_title>
            </quoting_options_group>

            <shipping_options_group>
                <round_shipping_price>RoundUpNearestDollar</round_shipping_price>
                <enable_shipping_margin>0</enable_shipping_margin>
                <shipping_margin_type>%</shipping_margin_type>
            </shipping_options_group>

            <product_widget_options_group>
                <enable_product_widget>1</enable_product_widget>
                <product_widget_title>Quick Quote</product_widget_title>
                <product_widget_lookup_field_title>Type suburb name or postcode</product_widget_lookup_field_title>
                <product_widget_lookup_field_placeholder>Type suburb name or postcode</product_widget_lookup_field_placeholder>
                <display_in_popup>1</display_in_popup>
                <popup_button_label>Get a Quick Shipping Quote</popup_button_label>
            </product_widget_options_group>
        </fusedship_config_section>
        <carriers>
            <fusedshiprates>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Machship\Fusedship\Model\Carrier\FusedshipRates</model>
                <name>Fusedship Rates</name>
                <price>0.00</price>
                <title>Fusedship Rates</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </fusedshiprates>
        </carriers>
    </default>
</config>
