<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Meetanshi_ShippingRestrictions::rule"  title="Shipping Restrictions" module="Meetanshi_ShippingRestrictions" sortOrder="50" parent="Magento_Sales::sales_operation" action="shippingrestrictions/rule/" resource="Meetanshi_ShippingRestrictions::rule"/>
    </menu>
</config>
