.ad-form-group,
.field-row1 { display: inline-block; width: 100%; margin-bottom: 15px; }
.ad-form-group .ad-control-label,
.ad-form-group .ad-form-control,
.field-row1 label.normal,
.field-row1 input,
.field-row1 select,
.field-row1 textarea { float: left; width: 250px; }


input, select, textarea { max-width: 100%;}

table.ad-table { border: 1px solid #cccccc; border-collapse: collapse; margin: 15px 0; }
table.ad-table tr th,
table.ad-table tr td { border: 1px solid #cccccc; padding: 8px; }
table.admin__table-primary tr th:first-child,
.admin__table-primary td:first-child { padding-left: 8px; }

table.ad-table table { margin: 0; }

div.ad-header { display: inline-block; width: 100%; }
div.ad-header .ad-title { float: left; }
div.ad-header .ad-form-buttons { float: right; }

#carriers_ausposteParcel table tr td h4 { border-bottom: 1px solid #cccccc; padding-left: 0; padding-bottom: 10px; margin-bottom: 10px; }

/*7/8/2018*/
.order-shipping-method .box { display: inline-block; margin-top: 15px; }
.order-shipping-method .box select { margin: 10px 0; padding: 3px; }

.track_link:hover { text-decoration: none; }