.is-business-residential {
    border: none;
}

.is-business-residential legend {
    display: none;
}

.is-business-residential .admin__field-control {
    display: flex;
}

.is-business-residential .admin__field-control .admin__field {
    margin-right: 20px;
}