<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Advanced Reports Base for Magento 2
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amasty_reports" translate="label" type="text" sortOrder="180516" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Advanced Reports</label>
            <tab>amasty</tab>
            <resource>Amasty_Reports::amasty_reports</resource>
            <group id="amasty_information" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Information</label>
                <frontend_model>Amasty\Reports\Block\Adminhtml\System\Config\Information</frontend_model>
            </group>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="reports_statuses" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Order Status used in Sales Reports</label>
                    <comment>Please select an Order Status to be used in Sales Reports.</comment>
                    <source_model>Magento\Sales\Ui\Component\Listing\Column\Status\Options</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="report_brand" translate="label comment" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Product Attribute used in Brands Report</label>
                    <comment>Please choose an attribute to be used as Brand in Brands Report.</comment>
                    <source_model>Amasty\Reports\Model\Source\Attributes</source_model>
                </field>
                <field id="sender_email_identity" translate="label" type="select" sortOrder="30" showInDefault="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="email_template" translate="label comment" type="select" sortOrder="40" showInDefault="1">
                    <label>Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
