<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_ausposteParcel">
        <observer name="ausposteparcel" instance="Biztech\Ausposteparcel\Observer\CheckKey" />
    </event>
    <event name="admin_system_config_changed_section_carriers">
        <observer name="admin_system_config_changed_section_carriers_eparcel" instance="Biztech\Ausposteparcel\Observer\SaveLabelData" />
    </event>
    
</config>