<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Biztech. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
        <add id="Biztech_Ausposteparcel::base" title="Australia Post Parcel Send" module="Biztech_Ausposteparcel" sortOrder="20" resource="Biztech_Ausposteparcel::base"/>
        <!--        <add id="Biztech_Ausposteparcel::ausposteparcel" title="Items" module="Biztech_Ausposteparcel" sortOrder="10" parent="biztech::base" action="biztech_ausposteparcel/items/" resource="Biztech_Ausposteparcel::items"/>-->
        <add id="Biztech_Ausposteparcel::consignment" title="Consignment Management" module="Biztech_Ausposteparcel" sortOrder="3" parent="Biztech_Ausposteparcel::base" action="biztech_ausposteparcel/consignment/index" resource="Biztech_Ausposteparcel::consignment"/>
        <add id="Biztech_Ausposteparcel::manifest" title="Manifests Management" module="Biztech_Ausposteparcel" sortOrder="4" parent="Biztech_Ausposteparcel::base" action="biztech_ausposteparcel/manifest/index" resource="Biztech_Ausposteparcel::manifest"/>
        <!-- <add id="Biztech_Ausposteparcel::freeshipping" title="Freeshipping Rules Management" module="Biztech_Ausposteparcel" sortOrder="4" parent="Biztech_Ausposteparcel::base" action="biztech_ausposteparcel/freeshipping/index" resource="Biztech_Ausposteparcel::freeshipping"/> -->
        <add id="Biztech_Ausposteparcel::articletype" title="Article Types" module="Biztech_Ausposteparcel" sortOrder="5" parent="Biztech_Ausposteparcel::base" action="biztech_ausposteparcel/articletype/index" resource="Biztech_Ausposteparcel::articletype"/>
        <add id="Biztech_Ausposteparcel::nonauspost" title="Assign Shipping Types" module="Biztech_Ausposteparcel" sortOrder="6" parent="Biztech_Ausposteparcel::base" action="biztech_ausposteparcel/nonauspost/index" resource="Biztech_Ausposteparcel::nonauspost"/>
    </menu>
</config>
