<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Biztech. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="biztech_ausposteparcel" frontName="biztech_ausposteparcel">
            <module name="Biztech_Ausposteparcel" />
        </route>
    </router>
</config>