<div class="reply-message-container" data-bind="css: { customer: is_from_customer, unread: !is_read }">
    <div class="reply-message" data-bind="html: message"></div>
    <div class="reply-attachments" data-bind="html: attachments"></div>
    <div class="reply-author" data-bind="html: signature"></div>
    <!-- ko ifnot: is_from_customer -->
    <div class="reply-email-status">
        <span class="note-list-customer" data-bind="text: emailed_text"></span>
        <span class="note-list-action">
            <button class="action-additional"
                    data-bind="click: $data.emailMessage.bind($data, index, value())">
                <span data-bind="i18n: 'Send email'"></span>
            </button>
        </span>
    </div>
    <!-- /ko -->
</div>
