<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Machship_Fusedship::machship" title="Machship" module="Machship_Fusedship" sortOrder="51" resource="Machship_Fusedship::machship"/>

        <add id="Machship_Fusedship::fusedship" title="Fusedship Configuration" module="Machship_Fusedship" sortOrder="1" parent="Machship_Fusedship::machship" action="adminhtml/system_config/edit/section/fusedship" resource="Machship_Fusedship::fusedship"/>

        <add id="Machship_Fusedship::migration" title="Box Migration" module="Machship_Fusedship" sortOrder="10" action="migration/index" resource="Machship_Fusedship::migration" parent="Machship_Fusedship::machship"/>
    </menu>
</config>
